---
import "../styles/global.css";
import Navbar from "../components/Navbar";
import Hero from "../components/Hero";
import Screenshots from "../components/Screenshots";
import Features from "../components/Features";
import Download from "../components/Download";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/logo_small.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>LOTR Renewed Extended</title>
  		<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700&family=EB+Garamond:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "SoftwareApplication",
				"name": "Lord of the Rings Renewed: Extended",
				"applicationCategory": "GameModification",
				"operatingSystem": "Minecraft Forge 1.16.5",
				"url": "https://lotrextended.net",
				"downloadUrl": "https://modrinth.com/mod/lotr-renewed-extended",
				"description": "A community-developed expansion for the Lord of the Rings Renewed Minecraft mod featuring new factions, structures, traders, invasions, NPC hiring, banner protection, and Middle-earth content.",
				"softwareVersion": "1.10.1"
			}
		</script>
	</head>
	<body>
		<Navbar />
		<Hero />
		<Screenshots client:load />
		<Features />
		<Download />
	</body>
</html>
